/.idea
/.vagrant
.DS_Store
Thumbs.db
composer.phar
/vendor
/bower_components
/node_modules
/app/storage/cache/*
/app/storage/logs/*
/app/storage/meta/*
/app/storage/sessions/*
/app/storage/views/*
/app/storage/proxies/*
/public/assets/*
/public/uploads/*
_ide_helper*.php
.env.*.php
.env.php
